<a href="https://colab.research.google.com/github/Chilmiaa/project-Studi-Independen/blob/main/Aturan_penulisan_pada_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Aturan Penulisan Statement pada Basic Python

1. Penulisan satu statement di dalam Python tidak di akhiri dengan tanda titik koma

In [ ]:
print("contoh")
print("latihan")
#pada kode di atas kita membuat sebuah program sederhana
#jika sukses maka akan menghasilkan output dari syntax diatas

contoh
latihan

2. Statement pada python dinyatakan dalam satu baris. Jadi akhir dari sebuah pernyataan adalah baris baru (new line)

Selanjutnya kita isi kode python nys dengan kode sebagai berikut

In [ ]:
print("luas = panjang * lebar")
print('luas = panjang * lebar')

#pada kode diatas kita membuat sebuah program sederhana
#jika sukses maka akan menghasilkan output dari syntax diatas

luas = panjang * lebar
luas = panjang * lebar

3.Jika ada pernyataan yang panjangnya lebih dari 1 baris, maka dapat dilakukan dengan menggunakan tanda backslash ()

  Selanjutnya kita isi kode python nys dengan kode sebagai berikut

In [ ]:
print("volume = panjang*lebar*tinggi")

#pada kode diatas kita membuat sebuah program sederhana
#jika sukses maka akan menghasilkan output dari syntax diatas

volume = panjang*lebar*tinggi

4.Statement yang ada di dalam atau diapit oleh tanda kurung seperti "[], {}, ()" tidak memerlukan tanda ""

Selanjutnya kita isi kode python nys dengan kode sebagai berikut

In [ ]:
nama_hari = ['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu']
print(nama_hari)

#pada kode diatas kita membuat sebuah program sederhana
#jika sukses maka akan menghasilkan output dari syntax diatas

['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']

5. Python menggunakan tanda indentasi (spasi) sebagai penanda blok. Panjang spasi atau indentasi untuk setiap baris yang ada dalam satu blok kode harus sama. Bila spasi atau indentasi dalam satu grup kode tersebut tidak sama, python akan menamplikan sintaks error.

Selanjutnya kita isi kode python nys dengan kode sebagai berikut

In [ ]:
int(input("usia :"))
if usia >=7:
  print("diterima masuk SD")
  print("dinyatakan lulus")
else:
  print("tidak diterima masuk SD")
  print("dinyatakan gagal")

#pada kode diatas kita membuat sebuah program sederhana
#jika sukses maka akan menghasilkan output dari syntax diatas

usia :6
tidak diterima masuk SD
dinyatakan gagal

6. Sebaga penanda string, Python menggunakan tanda kutip, baik tunggal ('), maupun ganda("). Tanda kutip tiga(""") digunakan untuk string multibaris

Selanjutnya kita isi kode python nys dengan kode sebagai berikut

In [ ]:
namadepan = 'class'
namalengkap = 'class JumaTec' 
alinea = """berikut adalah kalimat
yang terdiri dari beberapa baris"""
print(namadepan)
print(namalengkap)
print(alinea)

#pada kode diatas kita membuat sebuah program sederhana
#jika sukses maka akan menghasilkan output dari syntax diatas

class
class JumaTec
berikut adalah kalimat
yang terdiri dari beberapa baris

7.Bahasa Python bersifat case sensitif, yang berarti membedakan huruf besar dan huruf kecil (memiliki nilai yang berbeda)

Selanjutnya kita isi kode python nys dengan kode sebagai berikut

In [ ]:
# Contoh statement yang benar
luas = 15*3
print(luas)

# Jika sukses, maka akan menghasilkan output dari syntax diatas

45

In [ ]:
# Contoh statement yang salah
luas = 15*3
Print(luas)
PRINT(luas)

NameError: ignored

8.Untuk komentar di awali dengan tanda "#" yang artinya tidak diproses sebagai statement code #

Selanjutnya kita isi kode Python nya dengan kode sebagai berikut.

In [ ]:
# panjang = 15
# lebar = 3
# luas = (panjang*lebar)
# print(luas)