## LATIHAN

1.  Hitung TF_IDF pada contoh kalimat yang digunakan pada cosine similarity 
2.   Hitung cosine similarity pada kalimat berikut: 

*   Pengiriman dan kualitas produk sangat baik
*  Produk tidak sesuai gambar tapi memang sesuai harga
*   tidak sesuai ekspektasi produk berbeda dengan gambar

In [2]:
import nltk
from nltk.tokenize import word_tokenize
from gensim.models import Word2Vec
import re

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [4]:
komentar = [
          "Pengiriman dan kualitas produk sangat baik",
          "Produk tidak sesuai gambar tapi memang sesuai harga",
          "Tidak sesuai ekspetasi produk berbeda dengan gambar",
]

In [5]:
komentar = [re.sub(r'[,.]', '',k) for k in komentar]
komentar

['Pengiriman dan kualitas produk sangat baik',
 'Produk tidak sesuai gambar tapi memang sesuai harga',
 'Tidak sesuai ekspetasi produk berbeda dengan gambar']

In [6]:
corpus = [word_tokenize(k.lower()) for k in komentar]
corpus

[['pengiriman', 'dan', 'kualitas', 'produk', 'sangat', 'baik'],
 ['produk', 'tidak', 'sesuai', 'gambar', 'tapi', 'memang', 'sesuai', 'harga'],
 ['tidak', 'sesuai', 'ekspetasi', 'produk', 'berbeda', 'dengan', 'gambar']]

In [7]:
model = Word2Vec(corpus, size=100, window=5, workers=2, min_count=1, iter=100)

In [8]:
model.save("komentar_app.w2v")

In [9]:
model = Word2Vec.load("komentar_app.w2v")

In [10]:
w2v = model.wv

In [11]:
w2v.index2word

['produk',
 'sesuai',
 'tidak',
 'gambar',
 'pengiriman',
 'dan',
 'kualitas',
 'sangat',
 'baik',
 'tapi',
 'memang',
 'harga',
 'ekspetasi',
 'berbeda',
 'dengan']

In [12]:
w2v.vectors

array([[-2.8967590e-03,  1.0625179e-03,  3.5754445e-03, ...,
        -2.3519641e-03, -2.6132553e-03,  1.0425842e-03],
       [-4.8069288e-03,  5.2756397e-04,  3.2745709e-03, ...,
        -2.4503185e-03,  4.8163309e-04, -2.9213126e-03],
       [ 3.1549558e-03, -3.2017014e-03, -3.9555450e-04, ...,
         7.1567402e-04, -3.6655072e-04,  4.0962081e-03],
       ...,
       [-9.5968237e-05,  4.1500884e-03,  1.9615854e-03, ...,
         2.6837323e-04,  3.0291164e-03,  1.9238278e-03],
       [ 4.2936099e-03, -4.0520905e-03, -3.2798403e-03, ...,
         2.4238836e-03, -3.3226800e-03,  2.7212689e-03],
       [-4.9329838e-03, -1.1588450e-03, -5.0866208e-04, ...,
        -4.6670586e-03,  2.6914165e-03, -3.2729866e-05]], dtype=float32)

In [13]:
w2v.vector_size

100

In [14]:
w2v['berbeda']

array([ 4.2936099e-03, -4.0520905e-03, -3.2798403e-03,  4.3448196e-03,
       -3.5039391e-03, -2.3288669e-03,  2.8897738e-04, -3.6281045e-03,
        2.5686931e-03, -4.5520226e-03,  4.7237850e-03, -4.8759724e-03,
        1.1434786e-03,  2.9036559e-03, -2.7716386e-03,  1.5114140e-03,
        3.5369701e-03,  2.7020294e-03, -2.4610760e-03, -3.1067738e-03,
        2.4950667e-03,  7.9624479e-05, -2.0555132e-03, -2.9921383e-03,
       -8.5852150e-04, -4.9385764e-03,  3.7155051e-03, -3.7814516e-03,
        1.5488744e-03, -1.8817739e-03, -1.2329242e-03, -2.1682594e-03,
        4.4309851e-03, -2.5146508e-03,  3.8086670e-03,  1.2400890e-03,
        4.5922142e-03, -2.5009960e-03,  3.2093162e-03,  8.2658709e-04,
       -3.7954291e-03,  1.5009469e-03, -1.1200422e-03,  1.8465348e-03,
        3.6953569e-03, -3.8839050e-03, -3.7287849e-03,  3.1017885e-03,
       -2.6534151e-04,  4.1103112e-03,  3.4023304e-03,  3.1505972e-03,
       -1.3913540e-03,  4.0974061e-04, -1.4644851e-03,  3.3498469e-03,
       -4.6892179e-04,  2.9144082e-03, -1.8926566e-03,  4.7659427e-03,
       -4.0765563e-03,  2.7392272e-04, -1.1065621e-03,  3.6165868e-03,
        3.7809778e-03, -6.3072820e-04,  2.0260080e-03,  4.8242649e-03,
       -1.4279283e-03, -2.7340639e-03, -1.8498880e-03, -1.6776033e-03,
       -1.4018228e-03, -1.1055742e-03, -3.3694271e-03, -7.0903223e-04,
        4.1983631e-03,  3.7535848e-03,  3.1336602e-03,  5.0089280e-03,
        1.6854850e-03,  2.3364900e-03,  3.6877070e-03,  3.1004755e-03,
        2.9260586e-03,  1.8300918e-03,  1.9236676e-03,  2.9835694e-03,
       -1.3355147e-03, -4.9492074e-03, -4.0856437e-03,  2.1852537e-03,
        1.2628555e-03,  2.8101080e-03,  4.4757202e-03,  4.3859789e-03,
        1.3654429e-03,  2.4238836e-03, -3.3226800e-03,  2.7212689e-03],
      dtype=float32)

In [15]:
w2v.similar_by_word("produk", topn=5)

[('harga', 0.20628622174263),
 ('gambar', 0.20123113691806793),
 ('kualitas', 0.16451053321361542),
 ('sangat', 0.1326817274093628),
 ('tapi', 0.12543325126171112)]

#TF-IDF

In [16]:
komentar

['Pengiriman dan kualitas produk sangat baik',
 'Produk tidak sesuai gambar tapi memang sesuai harga',
 'Tidak sesuai ekspetasi produk berbeda dengan gambar']

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

vectorizer = TfidfVectorizer()
result = vectorizer.fit_transform(komentar)

In [18]:
print(vectorizer.get_feature_names())

['baik', 'berbeda', 'dan', 'dengan', 'ekspetasi', 'gambar', 'harga', 'kualitas', 'memang', 'pengiriman', 'produk', 'sangat', 'sesuai', 'tapi', 'tidak']

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [19]:
print(result)

  (0, 0)	0.4323850887896905
  (0, 11)	0.4323850887896905
  (0, 10)	0.25537359879528915
  (0, 7)	0.4323850887896905
  (0, 2)	0.4323850887896905
  (0, 9)	0.4323850887896905
  (1, 6)	0.382941573926791
  (1, 8)	0.382941573926791
  (1, 13)	0.382941573926791
  (1, 5)	0.2912369374639482
  (1, 12)	0.5824738749278964
  (1, 14)	0.2912369374639482
  (1, 10)	0.226171462424281
  (2, 3)	0.4435025580042657
  (2, 1)	0.4435025580042657
  (2, 4)	0.4435025580042657
  (2, 5)	0.33729512684167956
  (2, 12)	0.33729512684167956
  (2, 14)	0.33729512684167956
  (2, 10)	0.26193975520639246

In [21]:
print(f"Teks dokumen ke-{2+1}:\n{komentar[2]}")
print(f"Fitur Name ke-10: {vectorizer.get_feature_names()[10]}")

Teks dokumen ke-3:
Tidak sesuai ekspetasi produk berbeda dengan gambar
Fitur Name ke-10: produk

In [22]:
result.todense()

matrix([[0.43238509, 0.        , 0.43238509, 0.        , 0.        ,
         0.        , 0.        , 0.43238509, 0.        , 0.43238509,
         0.2553736 , 0.43238509, 0.        , 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.        ,
         0.29123694, 0.38294157, 0.        , 0.38294157, 0.        ,
         0.22617146, 0.        , 0.58247387, 0.38294157, 0.29123694],
        [0.        , 0.44350256, 0.        , 0.44350256, 0.44350256,
         0.33729513, 0.        , 0.        , 0.        , 0.        ,
         0.26193976, 0.        , 0.33729513, 0.        , 0.33729513]])

In [23]:
df = pd.DataFrame(result.todense().T,
                  index=vectorizer.get_feature_names(),
                  columns=[f"D{i+1}" for i in range(len(komentar))])
df

                  D1        D2        D3
baik        0.432385  0.000000  0.000000
berbeda     0.000000  0.000000  0.443503
dan         0.432385  0.000000  0.000000
dengan      0.000000  0.000000  0.443503
ekspetasi   0.000000  0.000000  0.443503
gambar      0.000000  0.291237  0.337295
harga       0.000000  0.382942  0.000000
kualitas    0.432385  0.000000  0.000000
memang      0.000000  0.382942  0.000000
pengiriman  0.432385  0.000000  0.000000
produk      0.255374  0.226171  0.261940
sangat      0.432385  0.000000  0.000000
sesuai      0.000000  0.582474  0.337295
tapi        0.000000  0.382942  0.000000
tidak       0.000000  0.291237  0.337295

In [24]:
from sklearn.metrics.pairwise import cosine_similarity, cosine_distances

In [25]:
doc1 = 'Pengiriman dan kualitas produk sangat baik'
doc2 = 'Produk tidak sesuai gambar tapi memang sesuai harga'
doc3 = 'Tidak sesuai ekspetasi produk berbeda dengan gambar'

In [26]:
import pandas as pd

df = pd.DataFrame([
        {'pengiriman':1, 'dan':1, 'kualitas':1, 'produk':1, 'sangat':1, 'baik':1, 'tidak':0, 'sesuai':0, 'gambar':0, 'tapi':0, 'memang':0, 'harga':0, 'ekspetasi':0, 'berbeda':0, 'dengan':0},
        {'produk':1, 'tidak':1, 'sesuai':2, 'gambar':1, 'tapi':1, 'memang':1, 'harga':1, 'pengiriman':0, 'dan':0, 'kualitas':0, 'sangat':0, 'baik':0, 'ekspetasi':0, 'berbeda':0, 'dengan':0},
        {'tidak':1, 'sesuai':1, 'ekspetasi':1, 'produk':1, 'berbeda':1, 'dengan':1, 'gambar':1, 'pengiriman':0, 'dan':0, 'kualitas':0, 'sangat':0, 'baik':0, 'tapi':0, 'memang':0, 'harga':0},

  ],
  index=[
      "doc1",
      "doc2",
      "doc3"
  ])

df

,pengiriman,dan,kualitas,produk,sangat,baik,tidak,sesuai,gambar,tapi,memang,harga,ekspetasi,berbeda,dengan
doc1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0
doc2,0,0,0,1,0,0,1,2,1,1,1,1,0,0,0
doc3,0,0,0,1,0,0,1,1,1,0,0,0,1,1,1

In [28]:
df.loc["doc1":"doc1"]

,pengiriman,dan,kualitas,produk,sangat,baik,tidak,sesuai,gambar,tapi,memang,harga,ekspetasi,berbeda,dengan
doc1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0

In [29]:
cosine_similarity(df.loc["doc1":"doc1"],df.loc["doc2":"doc2"],df.loc["doc3":"doc3"])

array([[0.12909944]])