#WEB SCRAPING

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
result = requests.get('https://www.detik.com/sulsel/berita/d-6204148/urutan-nama-planet-tata-surya-sejarah-penamaan-dan-fakta-faktanya')

In [ ]:
# Mengubah Encoding menjadi utf-8 | Jika tidak dikonversi ke utf-8 untuk karakter khusus 
# seperti ",'/- dll akan menjadi karakter yang sulit dipahami
result.encoding = result.apparent_encoding
result.encoding

'ascii'

In [ ]:
wp = BeautifulSoup(result.text, "html.parser")

In [ ]:
# Mengambil bagian html dengan tag p paling awal (paragraph)
wp.find("p")

<p>Urutan nama <a href="https://www.detik.com/tag/planet-tata-surya">planet tata surya</a> disusun berdasarkan jarak terdekat hingga terjauh dari matahari. Berdasarkan data Jet Propulsion Laboratory (JPL) The National Aeronautics and Space Administration (NASA) terdapat terdapat 8 planet dalam tata surya.</p>

In [ ]:
# Mengambil bagian html dengan tag p paling awal, tapi hanya value-nya saja.
wp.find("p").getText()

'Urutan nama planet tata surya disusun berdasarkan jarak terdekat hingga terjauh dari matahari. Berdasarkan data Jet Propulsion Laboratory (JPL) The National Aeronautics and Space Administration (NASA) terdapat terdapat 8 planet dalam tata surya.'

In [ ]:
wp.find('p').getText()

'Urutan nama planet tata surya disusun berdasarkan jarak terdekat hingga terjauh dari matahari. Berdasarkan data Jet Propulsion Laboratory (JPL) The National Aeronautics and Space Administration (NASA) terdapat terdapat 8 planet dalam tata surya.'

In [ ]:
# Mengambil bagian html dengan tag p (secara keseluruhan)
wp.find_all("p")

[<p>Urutan nama <a href="https://www.detik.com/tag/planet-tata-surya">planet tata surya</a> disusun berdasarkan jarak terdekat hingga terjauh dari matahari. Berdasarkan data Jet Propulsion Laboratory (JPL) The National Aeronautics and Space Administration (NASA) terdapat terdapat 8 planet dalam tata surya.</p>,
 <p>Tata Surya memiliki delapan planet yang mengorbit Matahari. Berdasarkan jaraknya dari matahari, urutan nama planet tata surya yakni Merkurius, Venus, Bumi, Mars, Jupiter, Saturnus, Uranus, dan Neptunus.</p>,
 <p>Sebelumnya, Pluto termasuk dalam urutan nama planet tata surya. Namun, Persatuan Astronomi Internasional (International Astronomical Union/IAU) mengubah status Pluto pada tahun 2006 dari sebuah planet menjadi planet kerdil.</p>,
 <p>Planet terbesar dalam tata surya adalah Jupiter. Sedangkan planet terkecil sekaligus terdekat dari matahari adalah Merkurius.</p>,
 <p>Melansir Cool Cosmos, Website Pendidikan Astronomi Inframerah NASA, urutan nama planet tata surya diberikan berdasarkan nama Dewa-Dewi Romawi dan Yunani, terkecuali Bumi. Penamaan ini disesuaikan dengan sifat serta fakta-fakta yang meliputi planet tersebut.</p>,
 <p><strong>Berikut urutan nama planet tata surya lengkap dengan penjelasan sejarah penamaan serta fakta-faktanya:</strong></p>,
 <p>Urutan nama planet tata surya pertama adalah Merkurius. Planet Merkurius memiliki jarak terdekat dengan matahari yakni 57,900,000<br>kilometer (km).</br></p>,
 <p>Planet Merkurius memiliki diameter 4,879 km. Planet Merkurius memiliki permukaan berbatu abu-abu gelap yang ditutupi dengan lapisan debu tebal yang diperkirakan terdiri dari batuan silikat beku dan debu.</p>,
 <p>Nama Planet Merkurius diambil dari nama dewa urusan Romawi, Merkurius. Dewa Merkurius juga merupakan dewa para pelancong.</p>,
 <p>Menurut mitos, dia memiliki topi dan sandal bersayap, sehingga dia bisa terbang. Nama ini disematkan karena Planet Merkurius adalah planet tercepat saat bergerak mengelilingi matahari.</p>,
 <p>Urutan nama Planet Tata Surya ke dua adalah Venus. Jarak Planet Venus dari matahari mencapai 108,200,000 km dan memiliki diameter 12,104 km.</p>,
 <p>Planet Venus memiliki warna agak kekuningan. Warna ini diciptakan atmosfer karbon dioksida yang tebal dan awan asam sulfat yang menyelimuti Planet Venus.</p>,
 <p>Planet Venus juga dijuluki sebagai bintang fajar. Hal ini karena Planet Venus merupakan salah satu objek paling terang di langit malam.</p>,
 <p>Planet Venus sangat cerah karena awan tebalnya memantulkan sebagian besar sinar matahari yang mencapainya (sekitar 70%) kembali ke luar angkasa, dan karena Planet Venus terdekat dengan Bumi maka dapat terlihat di langit. Planet Venus sering terlihat dalam beberapa jam setelah matahari terbenam atau sebelum matahari terbit.</p>,
 <p>Penamaan Planet Venus juga diambil dari nama Dewa Romawi. Planet terdekat dengan Bumi ini dinamai menggunakan nama dewi cinta dan kecantikan Romawi, Venus. Sesuai dengan penampilan Planet Venus yang terang di langit malam.</p>,
 <p><em>Selanjutnya ada Planet Bumi...</em></p>,
 <p>
 <div class="detail__multiple">
 <div class="flex-between detail__multiple-bg mgt-16">
 <div class="detail__anchor mgr-4">
 <span class="mgr-8">Halaman</span>
 <a class="detail__anchor-numb detail__anchor-numb--active" dtr-act="artikel" dtr-evt="selanjutnya" dtr-id="6204148" dtr-idx="1" dtr-sec="" dtr-ttl="Urutan Nama Planet Tata Surya, Sejarah Penamaan dan Fakta-faktanya" href="https://www.detik.com/sulsel/berita/d-6204148/urutan-nama-planet-tata-surya-sejarah-penamaan-dan-fakta-faktanya/1" onclick="_pt(this)" rel="nofollow">
                     1                </a>
 <a class="detail__anchor-numb " dtr-act="artikel" dtr-evt="selanjutnya" dtr-id="6204148" dtr-idx="2" dtr-sec="" dtr-ttl="Urutan Nama Planet Tata Surya, Sejarah Penamaan dan Fakta-faktanya" href="https://www.detik.com/sulsel/berita/d-6204148/urutan-nama-planet-tata-surya-sejarah-penamaan-dan-fakta-faktanya/2" onclick="_pt(this)" rel="nofollow">
                     2                </a>
 <a class="detail__anchor-numb " dtr-act="artikel" dtr-evt="selanjutnya" dtr-id="6204148" dtr-idx="3" dtr-sec="" dtr-ttl="Urutan Nama Planet Tata Surya, Sejarah Penamaan dan Fakta-faktanya" href="https://www.detik.com/sulsel/berita/d-6204148/urutan-nama-planet-tata-surya-sejarah-penamaan-dan-fakta-faktanya/3" onclick="_pt(this)" rel="nofollow">
                     3                </a>
 <a class="detail__anchor-numb " dtr-act="artikel" dtr-evt="selanjutnya" dtr-id="6204148" dtr-idx="4" dtr-sec="" dtr-ttl="Urutan Nama Planet Tata Surya, Sejarah Penamaan dan Fakta-faktanya" href="https://www.detik.com/sulsel/berita/d-6204148/urutan-nama-planet-tata-surya-sejarah-penamaan-dan-fakta-faktanya/4" onclick="_pt(this)" rel="nofollow">
                     4                </a>
 </div>
 <a class="btn btn--paging btn--sm mgt-8 mgb-8" dtr-act="button selanjutnya" dtr-evt="selanjutnya" dtr-id="6204148" dtr-sec="" dtr-ttl="Urutan Nama Planet Tata Surya, Sejarah Penamaan dan Fakta-faktanya" href="https://www.detik.com/sulsel/berita/d-6204148/urutan-nama-planet-tata-surya-sejarah-penamaan-dan-fakta-faktanya/2" onclick="_pt(this)" rel="nofollow">
                 Selanjutnya <i class="icon icon-chevron-right"></i>
 </a>
 </div>
 </div>
 <div class="detail__body-tag mgt-16">
 <div class="nav">
 <a class="nav__item" dtr-act="tag" dtr-evt="tag" dtr-idx=" 1" dtr-sec="" dtr-ttl="urutan nama planet tata surya" href="https://www.detik.com/tag/urutan-nama-planet-tata-surya/" onclick="_pt(this)">urutan nama planet tata surya</a> <a class="nav__item" dtr-act="tag" dtr-evt="tag" dtr-idx=" 2" dtr-sec="" dtr-ttl="urutan planet di tata surya" href="https://www.detik.com/tag/urutan-planet-di-tata-surya/" onclick="_pt(this)">urutan planet di tata surya</a> <a class="nav__item" dtr-act="tag" dtr-evt="tag" dtr-idx=" 3" dtr-sec="" dtr-ttl="tata surya" href="https://www.detik.com/tag/tata-surya/" onclick="_pt(this)">tata surya</a> <a class="nav__item" dtr-act="tag" dtr-evt="tag" dtr-idx=" 4" dtr-sec="" dtr-ttl="makassar" href="https://www.detik.com/tag/makassar/" onclick="_pt(this)">makassar</a> <a class="nav__item" dtr-act="tag" dtr-evt="tag" dtr-idx=" 5" dtr-sec="" dtr-ttl="sulsel" href="https://www.detik.com/tag/sulsel/" onclick="_pt(this)">sulsel</a> <a class="nav__item" dtr-act="tag" dtr-evt="tag" dtr-idx=" 6" dtr-sec="" dtr-ttl="sulawesi selatan" href="https://www.detik.com/tag/sulawesi-selatan/" onclick="_pt(this)">sulawesi selatan</a> </div>
 </div>
 </p>]

![image.png]()

In [ ]:
#lengkapilah! sesuai kode diatas!
full_text = []
for paragraf in wp.find_all('p'):
  full_text.append(paragraf.getText())

full_text

['Urutan nama planet tata surya disusun berdasarkan jarak terdekat hingga terjauh dari matahari. Berdasarkan data Jet Propulsion Laboratory (JPL) The National Aeronautics and Space Administration (NASA) terdapat terdapat 8 planet dalam tata surya.',
 'Tata Surya memiliki delapan planet yang mengorbit Matahari. Berdasarkan jaraknya dari matahari, urutan nama planet tata surya yakni Merkurius, Venus, Bumi, Mars, Jupiter, Saturnus, Uranus, dan Neptunus.',
 'Sebelumnya, Pluto termasuk dalam urutan nama planet tata surya. Namun, Persatuan Astronomi Internasional (International Astronomical Union/IAU) mengubah status Pluto pada tahun 2006 dari sebuah planet menjadi planet kerdil.',
 'Planet terbesar dalam tata surya adalah Jupiter. Sedangkan planet terkecil sekaligus terdekat dari matahari adalah Merkurius.',
 'Melansir Cool Cosmos, Website Pendidikan Astronomi Inframerah NASA, urutan nama planet tata surya diberikan berdasarkan nama Dewa-Dewi Romawi dan Yunani, terkecuali Bumi. Penamaan ini disesuaikan dengan sifat serta fakta-fakta yang meliputi planet tersebut.',
 'Berikut urutan nama planet tata surya lengkap dengan penjelasan sejarah penamaan serta fakta-faktanya:',
 'Urutan nama planet tata surya pertama adalah Merkurius. Planet Merkurius memiliki jarak terdekat dengan matahari yakni 57,900,000kilometer (km).',
 'Planet Merkurius memiliki diameter 4,879 km. Planet Merkurius memiliki permukaan berbatu abu-abu gelap yang ditutupi dengan lapisan debu tebal yang diperkirakan terdiri dari batuan silikat beku dan debu.',
 'Nama Planet Merkurius diambil dari nama dewa urusan Romawi, Merkurius. Dewa Merkurius juga merupakan dewa para pelancong.',
 'Menurut mitos, dia memiliki topi dan sandal bersayap, sehingga dia bisa terbang. Nama ini disematkan karena Planet Merkurius adalah planet tercepat saat bergerak mengelilingi matahari.',
 'Urutan nama Planet Tata Surya ke dua adalah Venus. Jarak Planet Venus dari matahari mencapai 108,200,000 km dan memiliki diameter 12,104 km.',
 'Planet Venus memiliki warna agak kekuningan. Warna ini diciptakan atmosfer karbon dioksida yang tebal dan awan asam sulfat yang menyelimuti Planet Venus.',
 'Planet Venus juga dijuluki sebagai bintang fajar. Hal ini karena Planet Venus merupakan salah satu objek paling terang di langit malam.',
 'Planet Venus sangat cerah karena awan tebalnya memantulkan sebagian besar sinar matahari yang mencapainya (sekitar 70%) kembali ke luar angkasa, dan karena Planet Venus terdekat dengan Bumi maka dapat terlihat di langit. Planet Venus sering terlihat dalam beberapa jam setelah matahari terbenam atau sebelum matahari terbit.',
 'Penamaan Planet Venus juga diambil dari nama Dewa Romawi. Planet terdekat dengan Bumi ini dinamai menggunakan nama dewi cinta dan kecantikan Romawi, Venus. Sesuai dengan penampilan Planet Venus yang terang di langit malam.',
 'Selanjutnya ada Planet Bumi...',
 '\n\n\n\nHalaman\n\n                    1                \n\n                    2                \n\n                    3                \n\n                    4                \n\n\n                Selanjutnya \n\n\n\n\n\nurutan nama planet tata surya urutan planet di tata surya tata surya makassar sulsel sulawesi selatan \n\n']

> Terlihat bahwa link text masih banyak whitespace atau spasi kosong yang terdapat pada list sehingga perlu dibersihkan juga.

In [ ]:
# Menghapus None dari list full_text sekaligus membersihkan elemen list dari whitespace menggunakan fungsi strip()
# List Comprehension
full_text = [paragraf.strip() for paragraf in full_text if paragraf != ""]
full_text

['Urutan nama planet tata surya disusun berdasarkan jarak terdekat hingga terjauh dari matahari. Berdasarkan data Jet Propulsion Laboratory (JPL) The National Aeronautics and Space Administration (NASA) terdapat terdapat 8 planet dalam tata surya.',
 'Tata Surya memiliki delapan planet yang mengorbit Matahari. Berdasarkan jaraknya dari matahari, urutan nama planet tata surya yakni Merkurius, Venus, Bumi, Mars, Jupiter, Saturnus, Uranus, dan Neptunus.',
 'Sebelumnya, Pluto termasuk dalam urutan nama planet tata surya. Namun, Persatuan Astronomi Internasional (International Astronomical Union/IAU) mengubah status Pluto pada tahun 2006 dari sebuah planet menjadi planet kerdil.',
 'Planet terbesar dalam tata surya adalah Jupiter. Sedangkan planet terkecil sekaligus terdekat dari matahari adalah Merkurius.',
 'Melansir Cool Cosmos, Website Pendidikan Astronomi Inframerah NASA, urutan nama planet tata surya diberikan berdasarkan nama Dewa-Dewi Romawi dan Yunani, terkecuali Bumi. Penamaan ini disesuaikan dengan sifat serta fakta-fakta yang meliputi planet tersebut.',
 'Berikut urutan nama planet tata surya lengkap dengan penjelasan sejarah penamaan serta fakta-faktanya:',
 'Urutan nama planet tata surya pertama adalah Merkurius. Planet Merkurius memiliki jarak terdekat dengan matahari yakni 57,900,000kilometer (km).',
 'Planet Merkurius memiliki diameter 4,879 km. Planet Merkurius memiliki permukaan berbatu abu-abu gelap yang ditutupi dengan lapisan debu tebal yang diperkirakan terdiri dari batuan silikat beku dan debu.',
 'Nama Planet Merkurius diambil dari nama dewa urusan Romawi, Merkurius. Dewa Merkurius juga merupakan dewa para pelancong.',
 'Menurut mitos, dia memiliki topi dan sandal bersayap, sehingga dia bisa terbang. Nama ini disematkan karena Planet Merkurius adalah planet tercepat saat bergerak mengelilingi matahari.',
 'Urutan nama Planet Tata Surya ke dua adalah Venus. Jarak Planet Venus dari matahari mencapai 108,200,000 km dan memiliki diameter 12,104 km.',
 'Planet Venus memiliki warna agak kekuningan. Warna ini diciptakan atmosfer karbon dioksida yang tebal dan awan asam sulfat yang menyelimuti Planet Venus.',
 'Planet Venus juga dijuluki sebagai bintang fajar. Hal ini karena Planet Venus merupakan salah satu objek paling terang di langit malam.',
 'Planet Venus sangat cerah karena awan tebalnya memantulkan sebagian besar sinar matahari yang mencapainya (sekitar 70%) kembali ke luar angkasa, dan karena Planet Venus terdekat dengan Bumi maka dapat terlihat di langit. Planet Venus sering terlihat dalam beberapa jam setelah matahari terbenam atau sebelum matahari terbit.',
 'Penamaan Planet Venus juga diambil dari nama Dewa Romawi. Planet terdekat dengan Bumi ini dinamai menggunakan nama dewi cinta dan kecantikan Romawi, Venus. Sesuai dengan penampilan Planet Venus yang terang di langit malam.',
 'Selanjutnya ada Planet Bumi...',
 'Halaman\n\n                    1                \n\n                    2                \n\n                    3                \n\n                    4                \n\n\n                Selanjutnya \n\n\n\n\n\nurutan nama planet tata surya urutan planet di tata surya tata surya makassar sulsel sulawesi selatan']

In [ ]:
full_text = ' '.join(full_text)
full_text

'Urutan nama planet tata surya disusun berdasarkan jarak terdekat hingga terjauh dari matahari. Berdasarkan data Jet Propulsion Laboratory (JPL) The National Aeronautics and Space Administration (NASA) terdapat terdapat 8 planet dalam tata surya. Tata Surya memiliki delapan planet yang mengorbit Matahari. Berdasarkan jaraknya dari matahari, urutan nama planet tata surya yakni Merkurius, Venus, Bumi, Mars, Jupiter, Saturnus, Uranus, dan Neptunus. Sebelumnya, Pluto termasuk dalam urutan nama planet tata surya. Namun, Persatuan Astronomi Internasional (International Astronomical Union/IAU) mengubah status Pluto pada tahun 2006 dari sebuah planet menjadi planet kerdil. Planet terbesar dalam tata surya adalah Jupiter. Sedangkan planet terkecil sekaligus terdekat dari matahari adalah Merkurius. Melansir Cool Cosmos, Website Pendidikan Astronomi Inframerah NASA, urutan nama planet tata surya diberikan berdasarkan nama Dewa-Dewi Romawi dan Yunani, terkecuali Bumi. Penamaan ini disesuaikan dengan sifat serta fakta-fakta yang meliputi planet tersebut. Berikut urutan nama planet tata surya lengkap dengan penjelasan sejarah penamaan serta fakta-faktanya: Urutan nama planet tata surya pertama adalah Merkurius. Planet Merkurius memiliki jarak terdekat dengan matahari yakni 57,900,000kilometer (km). Planet Merkurius memiliki diameter 4,879 km. Planet Merkurius memiliki permukaan berbatu abu-abu gelap yang ditutupi dengan lapisan debu tebal yang diperkirakan terdiri dari batuan silikat beku dan debu. Nama Planet Merkurius diambil dari nama dewa urusan Romawi, Merkurius. Dewa Merkurius juga merupakan dewa para pelancong. Menurut mitos, dia memiliki topi dan sandal bersayap, sehingga dia bisa terbang. Nama ini disematkan karena Planet Merkurius adalah planet tercepat saat bergerak mengelilingi matahari. Urutan nama Planet Tata Surya ke dua adalah Venus. Jarak Planet Venus dari matahari mencapai 108,200,000 km dan memiliki diameter 12,104 km. Planet Venus memiliki warna agak kekuningan. Warna ini diciptakan atmosfer karbon dioksida yang tebal dan awan asam sulfat yang menyelimuti Planet Venus. Planet Venus juga dijuluki sebagai bintang fajar. Hal ini karena Planet Venus merupakan salah satu objek paling terang di langit malam. Planet Venus sangat cerah karena awan tebalnya memantulkan sebagian besar sinar matahari yang mencapainya (sekitar 70%) kembali ke luar angkasa, dan karena Planet Venus terdekat dengan Bumi maka dapat terlihat di langit. Planet Venus sering terlihat dalam beberapa jam setelah matahari terbenam atau sebelum matahari terbit. Penamaan Planet Venus juga diambil dari nama Dewa Romawi. Planet terdekat dengan Bumi ini dinamai menggunakan nama dewi cinta dan kecantikan Romawi, Venus. Sesuai dengan penampilan Planet Venus yang terang di langit malam. Selanjutnya ada Planet Bumi... Halaman\n\n                    1                \n\n                    2                \n\n                    3                \n\n                    4                \n\n\n                Selanjutnya \n\n\n\n\n\nurutan nama planet tata surya urutan planet di tata surya tata surya makassar sulsel sulawesi selatan'

#2. Crawling Data From Tweeter

In [ ]:
#import Library
 #import path directory
 #import file csv
 #package untuk crawling data pada tweeter
 #untuk visualisasi
import os
import csv
import tweepy as tw
import pandas as pd

In [ ]:
#emanggil data dari tweeter menggunakan API 
access_token = "3760416139-MLn5ifjLKCSXh4dWrgmOsSpQ6lYvefNkbQNuM35"
access_token_secret ="KsKpKqYwCli8YDNJg15y8ZW0quVlfGwrUCrOX4xLZHMaE"
consumer_key ="gchYjFhHc48sIveGC8fMVa2Sw"
consumer_secret="F4wR4cp8CIcAhkUgVFtrOZDg9CDKaroN9O0dkh2vSxgubnoKCb"

In [ ]:
auth = tw.OAuthHandler(consumer_key, consumer_secret) #memanggil data concumer_key, consumer_secret
auth.set_access_token(access_token, access_token_secret) #memanggil access_token, access_token_secret
api = tw.API(auth, wait_on_rate_limit=True) #autentifikasi ke twitter

pencarian topik

In [ ]:
search_words = "planet"

![image.png]()

In [ ]:
csvFile =open('planet.csv', 'a')
#Use csv Writer
csvWriter = csv.writer(csvFile)

ids = set()
csvWriter.writerow(['timetweet','isitweet','favcount', 'retwcount','id','name'])

csvFile.close()

In [ ]:
csvFile = open('planet.csv', 'a')
#Use csv Writer
csvWriter = csv.writer(csvFile)

ids = set()

for tweet in  tw.Cursor(api.search,
                   q=search_words,
                   date ='2020-12-12', 
                   lang='id', 
                   tweet_mode = 'extended').items(90000):
  #if (not tweet.retweeted) and ('RT @' not in tweet.full_text):
    #Write a row to the csv file/ I use encode utf-8
    csvWriter.writerow([tweet.created_at, tweet.full_text.encode('utf_8'), tweet.favorite_count, tweet.retweet_count, tweet.id, tweet.user.screen_name])
    #print "...%s tweets downloaded so far" % (len(tweet.id))
    ids.add(tweet.id) # add new id
    #print ("number of unique ids seen so far: {}",format(len(ids)))
csvFile.close()

In [ ]:
#with open(path, 'rb') as f: contens = f.read()
df = pd.read_csv('planet.csv')
df.head()

,timetweet,isitweet,favcount,retwcount,id,name
0,2022-09-27 11:14:43,b'@agipucing Pindah planet',0,0,1574719176903565313,jhamaell07
1,2022-09-27 11:14:06,b'@ojigotskyy @pandaxxpandaxx lha agenda mulih...,0,0,1574719021374902272,weldgoods
2,2022-09-27 11:14:05,b'RT @JatIkhwan: Malam ni kedudukan planet Jup...,0,1094,1574719016941211648,sanseukai
3,2022-09-27 11:13:25,b'@_ejaaadeh Pindah planet aja',0,0,1574718852541599744,spctears
4,2022-09-27 11:11:53,b'RT @JatIkhwan: Malam ni kedudukan planet Jup...,0,1094,1574718466783080448,sarahiman00

In [ ]:
len(df.index)

4127